<nav class="navbar fixed-top fixed-top-2" style="background-color: #e0e0e0;">
  <%= form_tag repositories_path, method: :get, enforce_utf8: false , class: 'form-inline justify-content-center' do %>
    <label class="mr-sm-2">Language</label>
    <%= select_tag 'language', options_for_select(@repositories.collect { |repo| repo.language }.uniq, selected: params[:language]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <label class="mr-sm-2">Dependency</label>
    <%= select_tag 'dependency', options_for_select(@dependencies.collect { |dep| dep.name }.uniq, selected: params[:dependency]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <label class="mr-sm-2">Deployable</label>
    <%= select_tag 'deployable', options_for_select([true, false], selected: params[:deployable]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <label class="mr-sm-2">Monitorable</label>
    <%= select_tag 'monitorable', options_for_select([true, false], selected: params[:monitorable]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <label class="mr-sm-2">Tested</label>
    <%= select_tag 'tested', options_for_select([true, false], selected: params[:tested]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <label class="mr-sm-2">Tracked</label>
    <%= select_tag 'tracked', options_for_select([true, false], selected: params[:tracked]), include_blank: true, class: 'custom-select mr-sm-2' %>

    <%= submit_tag 'Filter', class: 'btn btn-outline-primary btn-sm mr-sm-2', name: nil %>
    <%= link_to 'Reset', repositories_path, class: 'btn btn-outline-danger btn-sm' %>
  <% end %>
</nav>
