<div class="container mt-2">
  <%= form_tag repositories_path, method: :get, enforce_utf8: false , class: 'form-inline' do %>
    <label class="mr-sm-2">Deployable</label>
    <%= select_tag 'deployable', options_for_select([['true', true],['false', false]], selected: params[:deployable]), include_blank: true, class: 'custom-select mr-sm-2' %>
    <label class="mr-sm-2">Monitorable</label>
    <%= select_tag 'monitorable', options_for_select([['true', true],['false', false]], selected: params[:monitorable]), include_blank: true, class: 'custom-select mr-sm-2' %>
    <%= submit_tag 'Filter', class: 'btn btn-outline-primary btn-sm mr-sm-2', name: nil %>
    <%= link_to 'Reset', repositories_path, class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
</div>
<div class="container">
  <table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        <% @repositories.each do |r| %>
        <tr>
          <td>
            <%= link_to r.name, repository_path(r.name), :target => "_blank" %>
            <%= link_to image_tag('github.svg', size: '14'), r.url, :target => "_blank" %>
          </td>
          <td>
            <% if r.language %>
              <span class="badge badge-repos badge-default"><%= r.language.downcase %></span>
            <% end %>
            <% if r.is_rails %>
              <span class="badge badge-repos badge-default">rails</span>
            <% end %>
            <% if r.is_gem %>
              <span class="badge badge-repos badge-default">gem</span>
            <% end %>
            <% if r.has_capistrano %>
              <span class="badge badge-repos badge-default">capistrano</span>
            <% end %>
            <% if r.has_honeybadger %>
              <span class="badge badge-repos badge-default">honeybadger</span>
            <% end %>
            <% if r.has_travis %>
              <%= link_to image_tag("https://travis-ci.org/#{r.organization}/#{r.name}.svg?branch=master"), "https://travis-ci.org/#{r.organization}/#{r.name}", :target => "_blank" %>
            <% end %>
            <% if r.has_coveralls %>
              <%= link_to image_tag("https://coveralls.io/repos/github/#{r.organization}/#{r.name}/badge.svg?branch=master"), "https://coveralls.io/github/#{r.organization}/#{r.name}?branch=master", :target => "_blank" %>
            <% end %>
            <% if r.has_okcomputer %>
              <span class="badge badge-repos badge-default">okcomputer</span>
            <% end %>
            <% if r.has_is_it_working %>
              <span class="badge badge-repos badge-default">is_it_working</span>
            <% end %>
            <% if !r.gemnasium_alerts.nil? %>
              <%= link_to image_tag("https://img.shields.io/gemnasium/#{r.organization}/#{r.name}.svg"), "https://gemnasium.com/#{r.organization}/#{r.name}", :target => "_blank", :title => "#{r.gemnasium_alerts} alerts" %>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
