<!DOCTYPE html>
<html>
  <head>
    <title>Quimby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  </head>

  <body>
    <%= render 'shared/alerts' %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
